{% load static %}
<footer class="w-full flex-col justify-center items-center bg-inherit pb-2 flex gap-1">
    <section class="w-full flex flex-row justify-center items-center gap-1"><img alt="logo" loading="lazy" width="20" height="20" decoding="async" data-nimg="1" src="{% static 'svg/logo.svg' %}" style="color: transparent;">
        <h1 class="text-base font-semibold whitespace-nowrap">Raqamli Avlod IT O'zbekiston</h1>
    </section>
    <p class="whitespace-nowrap text-sm">Copyright @2019. Infinite Co All Right Reserved</p>
    <section class="w-full flex flex-row flex-nowrap justify-center items-center gap-2">
        <a href="https://t.me/digitalgeneration_uz">
            <img alt="logo" loading="lazy" width="15" height="15" decoding="async" data-nimg="1" src="{% static 'svg/telegram.svg' %}" style="color: transparent;">
        </a>
        <a href="https://instagram.com/DGUzbekistan" class="rounded-md bg-[#EE4B62] flex flex-row justify-center items-center  whitespace-nowrap w-max h-max text-white">
            <img alt="logo" loading="lazy" width="15" height="15" decoding="async" data-nimg="1" src="{% static 'svg/instagram.svg' %}" style="color: transparent;">
        </a>
    </section>
</footer>
