{% load static %}
<div class="w-max max-w-full flex flex-col justify-start items-start gap-5 sticky top-0">
    <h1 class="w-max h-max text-base md:text-lg lg:text-xl font-semibold">Ijtimoiy tarmoqlar</h1>
    <div class="flex flex-col gap-3 w-full justify-start items-start">
        <a href="https://t.me/digitalgeneration_uz" class="p-3 rounded-xl bg-[#2AABEE] flex flex-row justify-center items-center gap-3 whitespace-nowrap w-max text-sm text-white">
            <img alt="telegram" loading="eager" width="24" height="24" decoding="async" data-nimg="1" src="{% static 'svg/telegram.svg' %}" style="color: transparent;">
            Bizning telegram sahifamizga obuna bo'ling
        </a>
        <a href="https://instagram.com/DGUzbekistan" class="p-3 rounded-xl bg-[#EE4B62] flex flex-row justify-center items-center gap-3 whitespace-nowrap w-max text-sm text-white">
            <img alt="telegram" loading="eager" width="24" height="24" decoding="async" data-nimg="1" src="{% static 'svg/instagram.svg' %}" style="color: transparent;">
            Bizning instagram sahifamizga obunabbo'ling
        </a>
    </div>
</div>